@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

body
{
    font-family: Roboto-Regular;
    background-color: black;
}

.wraper
{
    background-color: hsl(235, 18%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 24px;
}

.wraper h1
{
    font-size: 85px;
    font-weight: bold;
}


.sign-up-form-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* width: 1440px; */
    border-radius: 20px;

}

main
{
    width: 42%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 90px;
}

form {
    display: flex;
    flex-direction: column;
    width: 550px;
}

label {
    font-size: 15px;
    font-weight: bold;
}

input {
    font-family: inherit;
    border-radius: 5px;
    border: 1px solid hsl(231, 7%, 60%);
    outline: none;
    padding: 10px 20px;
    margin: 10px 0 10px 0;
}

button {
    font-family: inherit;
    padding: 10px 20px;
    margin: 10px 0 10px 0;
    color: white;
    border-radius: 5px;
    background-color: hsl(235, 18%, 26%);
    border: none;
    cursor: pointer;
}

.banner
{
    width: 40%;
    padding: 20px;
}

.banner img
{
    width: 100%;
}

ul
{
    list-style-image: url(../images/icon-list.svg);
}

li {
    margin-bottom: 10px;
}